In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import datasets
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
import pickle
import joblib

from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor

In [2]:
diamonds = pd.read_csv('./data/diamondsql.csv')
diamonds

,index_id,price,city_id,carat,city_id.1,city,index_id.1,cut_id,color_id,clarity_id,...,clarity_id.1,clarity,color_id.1,color,index_id.2,depth,table,x,y,z
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,4268,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.21,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,Dubai,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,VS2,6da43b944e494e885e69af021f93c6d9331c78aa228084...,J,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,505,89c7286890f7347ab235234e74d406596a127ae3679042...,0.32,89c7286890f7347ab235234e74d406596a127ae3679042...,Kimberly,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,388655e25e91872329272fc10128ef5354b3b19a05d7e8...,44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,VS2,44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...,H,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,63.0,57.0,4.35,4.38,2.75
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,2686,2bd25cd960aba8b706e2b67f2bb38b750ee5384b0e9883...,0.71,2bd25cd960aba8b706e2b67f2bb38b750ee5384b0e9883...,Las Vegas,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,f7b19afcde965ea4942b878d266f89f8ba9a5a833e60f7...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...,...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...,VS1,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,G,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,65.5,55.0,5.62,5.53,3.65
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,738,89c7286890f7347ab235234e74d406596a127ae3679042...,0.41,89c7286890f7347ab235234e74d406596a127ae3679042...,Kimberly,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,c939327ca16dcf97ca32521d8b834bf1de16573d21deda...,3f39d5c348e5b79d06e842c114e6cc571583bbf44e4b0e...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...,...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...,SI1,3f39d5c348e5b79d06e842c114e6cc571583bbf44e4b0e...,D,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,63.8,56.0,4.68,4.72,3.00
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,4882,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.02,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,Dubai,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...,...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...,SI1,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,G,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,60.5,59.0,6.55,6.51,3.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,10070,ca3aa21a5b70c3e88cc6336682c8c7da928a0c66a5ead4...,1.34,ca3aa21a5b70c3e88cc6336682c8c7da928a0c66a5ead4...,Antwerp,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...,...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...,VS1,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,G,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,62.7,57.0,7.10,7.04,4.43
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,12615,e9c722cbefc2f055ae60b4e2cbe73a2d99537eab0c37f3...,2.02,e9c722cbefc2f055ae60b4e2cbe73a2d99537eab0c37f3...,Madrid,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,c939327ca16dcf97ca32521d8b834bf1de16573d21deda...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,03c358cbd92e83278fd523f58dc6a9b4b198d00728af65...,...,03c358cbd92e83278fd523f58dc6a9b4b198d00728af65...,SI2,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,F,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,57.1,60.0,8.31,8.25,4.73
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,5457,89c7286890f7347ab235234e74d406596a127ae3679042...,1.01,89c7286890f7347ab235234e74d406596a127ae3679042...,Kimberly,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...,...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...,SI1,44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...,H,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,62.7,56.0,6.37,6.42,4.01
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,456,89c7286890f7347ab235234e74d406596a127ae3679042...,0.33,89c7286890f7347ab235234e74d406596a127ae3679042...,Kimberly,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...,...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...,VS1,6da43b944e494e885e69af021f93c6d9331c78aa228084...,J,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,61.9,54.3,4.45,4.47,2.76
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,6232,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,1.24,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,London,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,a83dd0ccbffe39d071cc317ddf6e97f5c6b1c87af91919...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...,...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...,SI1,a83dd0ccbffe39d071cc317ddf6e97f5c6b1c87af91919...,I,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,62.0,58.0,6.83,6.88,4.25

In [3]:
diamonds.columns

Index(['index_id', 'price', 'city_id', 'carat', 'city_id.1', 'city',
       'index_id.1', 'cut_id', 'color_id', 'clarity_id', 'cut_id.1', 'cut',
       'clarity_id.1', 'clarity', 'color_id.1', 'color', 'index_id.2', 'depth',
       'table', 'x', 'y', 'z'],
      dtype='object')

In [4]:
diamonds = diamonds.drop(['index_id', 'city_id', 'city_id.1','index_id.1','cut_id', 'color_id', 'clarity_id', 'cut_id.1', 'clarity_id.1', 'color_id.1', 'index_id.2'], axis = 1)

In [5]:
diamonds.head()

,price,carat,city,cut,clarity,color,depth,table,x,y,z
0,4268,1.21,Dubai,Premium,VS2,J,62.4,58.0,6.83,6.79,4.25
1,505,0.32,Kimberly,Very Good,VS2,H,63.0,57.0,4.35,4.38,2.75
2,2686,0.71,Las Vegas,Fair,VS1,G,65.5,55.0,5.62,5.53,3.65
3,738,0.41,Kimberly,Good,SI1,D,63.8,56.0,4.68,4.72,3.00
4,4882,1.02,Dubai,Ideal,SI1,G,60.5,59.0,6.55,6.51,3.95

In [6]:
diamonds_encoded = pd.get_dummies(diamonds, columns=['city','cut','clarity','color'])

In [7]:
diamonds_encoded

,price,carat,depth,table,x,y,z,city_Amsterdam,city_Antwerp,city_Dubai,...,clarity_VS2,clarity_VVS1,clarity_VVS2,color_D,color_E,color_F,color_G,color_H,color_I,color_J
0,4268,1.21,62.4,58.0,6.83,6.79,4.25,False,False,True,...,True,False,False,False,False,False,False,False,False,True
1,505,0.32,63.0,57.0,4.35,4.38,2.75,False,False,False,...,True,False,False,False,False,False,False,True,False,False
2,2686,0.71,65.5,55.0,5.62,5.53,3.65,False,False,False,...,False,False,False,False,False,False,True,False,False,False
3,738,0.41,63.8,56.0,4.68,4.72,3.00,False,False,False,...,False,False,False,True,False,False,False,False,False,False
4,4882,1.02,60.5,59.0,6.55,6.51,3.95,False,False,True,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,10070,1.34,62.7,57.0,7.10,7.04,4.43,False,True,False,...,False,False,False,False,False,False,True,False,False,False
40451,12615,2.02,57.1,60.0,8.31,8.25,4.73,False,False,False,...,False,False,False,False,False,True,False,False,False,False
40452,5457,1.01,62.7,56.0,6.37,6.42,4.01,False,False,False,...,False,False,False,False,False,False,False,True,False,False
40453,456,0.33,61.9,54.3,4.45,4.47,2.76,False,False,False,...,False,False,False,False,False,False,False,False,False,True
40454,6232,1.24,62.0,58.0,6.83,6.88,4.25,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [8]:
X = diamonds_encoded.drop('price', axis=1)
y = diamonds_encoded['price']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(f"X_train: {X_train.shape}, X_test: {X_test.shape}, y_train: {y_train.shape}, y_test: {y_test.shape}")

X_train: (32364, 39), X_test: (8091, 39), y_train: (32364,), y_test: (8091,)

In [10]:
model_xgb = XGBRegressor(colsample_bytree = 0.95,
                          gamma = 0.14,
                          learning_rate = 0.012,
                          max_depth = 7,
                          missing = np.inf,
                          n_estimators = 1130,
                          subsample = 0.8, 
                         objective='reg:squarederror', random_state=42)

model_xgb.fit(X_train, y_train)

y_pred = model_xgb.predict(X_test)

In [11]:
mean_squared_error(y_test, y_pred)

300401.746367681

In [12]:
rmse = mean_squared_error(y_test, y_pred, squared=False)
rmse

548.0891773860172

In [13]:
diamonds_test = pd.read_csv('./data/diamonds_test.csv')

In [14]:
#diamonds_test=diamonds_test.drop('city',axis=1)

In [15]:
diamonds_encoded_test = pd.get_dummies(diamonds_test, columns=['city','cut','clarity','color'])
diamonds_encoded_test

,id,carat,depth,table,x,y,z,city_Amsterdam,city_Antwerp,city_Dubai,...,clarity_VS2,clarity_VVS1,clarity_VVS2,color_D,color_E,color_F,color_G,color_H,color_I,color_J
0,0,0.79,62.7,60.0,5.82,5.89,3.67,True,False,False,...,False,False,False,False,False,True,False,False,False,False
1,1,1.20,61.0,57.0,6.81,6.89,4.18,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,2,1.57,62.2,61.0,7.38,7.32,4.57,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,3,0.90,63.8,54.0,6.09,6.13,3.90,False,False,False,...,False,False,False,False,False,True,False,False,False,False
4,4,0.50,62.9,58.0,5.05,5.09,3.19,True,False,False,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.57,61.9,56.0,5.35,5.32,3.30,True,False,False,...,False,False,False,False,True,False,False,False,False,False
13481,13481,0.71,62.2,55.0,5.71,5.73,3.56,False,False,False,...,True,False,False,False,False,False,False,False,True,False
13482,13482,0.70,61.6,55.0,5.75,5.71,3.53,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13483,13483,0.70,58.8,57.0,5.85,5.89,3.45,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13484,13484,0.40,62.4,55.0,4.70,4.73,2.94,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [16]:
X_prueba = diamonds_encoded_test.drop('id', axis=1)

In [18]:
y_prueba = model_xgb.predict(X_prueba)

In [19]:
y_prueba

array([2836.1194, 5513.1914, 9641.885 , ..., 3113.5254, 2156.6213,
        843.1533], dtype=float32)

In [20]:
solution = []
for i, value in enumerate(y_prueba):
    solution.append((i,value))

In [21]:
solution_df = pd.DataFrame(solution)

In [22]:
solution_df.columns = ['id', 'price']

In [23]:
solution_df['price'].to_csv('solution.csv')