In [342]:
#Ponemos todos los imports
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [343]:
df = pd.read_csv('data/diamondsql.csv')

In [344]:
df.head()

,index_id,price,city_id,carat,city_id.1,city,index_id.1,cut_id,color_id,clarity_id,...,clarity_id.1,clarity,color_id.1,color,index_id.2,depth,table,x,y,z
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,4268,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.21,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,Dubai,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,VS2,6da43b944e494e885e69af021f93c6d9331c78aa228084...,J,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,505,89c7286890f7347ab235234e74d406596a127ae3679042...,0.32,89c7286890f7347ab235234e74d406596a127ae3679042...,Kimberly,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,388655e25e91872329272fc10128ef5354b3b19a05d7e8...,44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,VS2,44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...,H,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,63.0,57.0,4.35,4.38,2.75
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,2686,2bd25cd960aba8b706e2b67f2bb38b750ee5384b0e9883...,0.71,2bd25cd960aba8b706e2b67f2bb38b750ee5384b0e9883...,Las Vegas,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,f7b19afcde965ea4942b878d266f89f8ba9a5a833e60f7...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...,...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...,VS1,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,G,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,65.5,55.0,5.62,5.53,3.65
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,738,89c7286890f7347ab235234e74d406596a127ae3679042...,0.41,89c7286890f7347ab235234e74d406596a127ae3679042...,Kimberly,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,c939327ca16dcf97ca32521d8b834bf1de16573d21deda...,3f39d5c348e5b79d06e842c114e6cc571583bbf44e4b0e...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...,...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...,SI1,3f39d5c348e5b79d06e842c114e6cc571583bbf44e4b0e...,D,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,63.8,56.0,4.68,4.72,3.00
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,4882,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.02,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,Dubai,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...,...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...,SI1,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,G,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,60.5,59.0,6.55,6.51,3.95

In [345]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index_id      40455 non-null  object
 1   price         40455 non-null  int64
 2   city_id       40455 non-null  object
 3   carat         40455 non-null  float64
 4   city_id.1     40455 non-null  object
 5   city          40455 non-null  object
 6   index_id.1    40455 non-null  object
 7   cut_id        40455 non-null  object
 8   color_id      40455 non-null  object
 9   clarity_id    40455 non-null  object
 10  cut_id.1      40455 non-null  object
 11  cut           40455 non-null  object
 12  clarity_id.1  40455 non-null  object
 13  clarity       40455 non-null  object
 14  color_id.1    40455 non-null  object
 15  color         40455 non-null  object
 16  index_id.2    40455 non-null  object
 17  depth         40455 non-null  float64
 18  table         40455 non-null  float64
 19  x             40455 non-null  float64
 20  y             40455 non-null  float64
 21  z             40455 non-null  float64
dtypes: float64(6), int64(1), object(15)
memory usage: 6.8+ MB

In [346]:
df = df.drop(['index_id', 'city_id', 'city_id.1', 'city', 'index_id.1', 'index_id.2','cut_id.1','clarity_id.1','color_id.1','cut_id','color_id','clarity_id'], axis=1)

In [347]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   price    40455 non-null  int64
 1   carat    40455 non-null  float64
 2   cut      40455 non-null  object
 3   clarity  40455 non-null  object
 4   color    40455 non-null  object
 5   depth    40455 non-null  float64
 6   table    40455 non-null  float64
 7   x        40455 non-null  float64
 8   y        40455 non-null  float64
 9   z        40455 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 3.1+ MB

In [348]:
"""categorical_cols = ['cut','clarity', 'color']
X_categorical = df[categorical_cols]
df = df.drop(categorical_cols, axis=1)
X_categorical = pd.get_dummies(X_categorical)"""

"categorical_cols = ['cut','clarity', 'color']\nX_categorical = df[categorical_cols]\ndf = df.drop(categorical_cols, axis=1)\nX_categorical = pd.get_dummies(X_categorical)"

In [349]:
df_encoded = pd.get_dummies(df, columns=['cut','clarity','color',])

In [350]:
df_encoded

,price,carat,depth,table,x,y,z,cut_Fair,cut_Good,cut_Ideal,...,clarity_VS2,clarity_VVS1,clarity_VVS2,color_D,color_E,color_F,color_G,color_H,color_I,color_J
0,4268,1.21,62.4,58.0,6.83,6.79,4.25,False,False,False,...,True,False,False,False,False,False,False,False,False,True
1,505,0.32,63.0,57.0,4.35,4.38,2.75,False,False,False,...,True,False,False,False,False,False,False,True,False,False
2,2686,0.71,65.5,55.0,5.62,5.53,3.65,True,False,False,...,False,False,False,False,False,False,True,False,False,False
3,738,0.41,63.8,56.0,4.68,4.72,3.00,False,True,False,...,False,False,False,True,False,False,False,False,False,False
4,4882,1.02,60.5,59.0,6.55,6.51,3.95,False,False,True,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,10070,1.34,62.7,57.0,7.10,7.04,4.43,False,False,True,...,False,False,False,False,False,False,True,False,False,False
40451,12615,2.02,57.1,60.0,8.31,8.25,4.73,False,True,False,...,False,False,False,False,False,True,False,False,False,False
40452,5457,1.01,62.7,56.0,6.37,6.42,4.01,False,False,True,...,False,False,False,False,False,False,False,True,False,False
40453,456,0.33,61.9,54.3,4.45,4.47,2.76,False,False,True,...,False,False,False,False,False,False,False,False,False,True
40454,6232,1.24,62.0,58.0,6.83,6.88,4.25,False,False,True,...,False,False,False,False,False,False,False,False,True,False

In [351]:
X = df_encoded.drop('price',axis=1)
y = df_encoded['price']

In [352]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [353]:
model = LinearRegression()

In [354]:
model.fit(X_train, y_train)

LinearRegression()

In [355]:
y_pred = model.predict(X_test)
hyperparameters = model.get_params()

In [356]:
rmse = mean_squared_error(y_test, y_pred)**0.5

In [357]:
print(type(model),'\n')
print(rmse,'\n')

<class 'sklearn.linear_model._base.LinearRegression'>

1124.8459176131585

In [380]:
diamond_test = pd.read_csv('data/diamonds_test.csv')

In [381]:
"""diamond_test = pd.DataFrame(diamond_test)
diamond_test.reset_index(inplace=True)
diamond_test.columns = ['id','price']
diamond_test.to_csv('../data/submisions/file_name.csv', index=False)"""

"diamond_test = pd.DataFrame(diamond_test)\ndiamond_test.reset_index(inplace=True)\ndiamond_test.columns = ['id','price']\ndiamond_test.to_csv('../data/submisions/file_name.csv', index=False)"

In [382]:
diamond_test

,id,carat,cut,color,clarity,depth,table,x,y,z,city
0,0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam
1,1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat
2,2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly
3,3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly
4,4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam
...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.57,Ideal,E,SI1,61.9,56.0,5.35,5.32,3.30,Amsterdam
13481,13481,0.71,Ideal,I,VS2,62.2,55.0,5.71,5.73,3.56,New York City
13482,13482,0.70,Ideal,F,VS1,61.6,55.0,5.75,5.71,3.53,Tel Aviv
13483,13483,0.70,Very Good,F,SI2,58.8,57.0,5.85,5.89,3.45,Surat
13484,13484,0.40,Ideal,I,VVS2,62.4,55.0,4.70,4.73,2.94,New York City

In [383]:
diamond_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13485 entries, 0 to 13484
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       13485 non-null  int64
 1   carat    13485 non-null  float64
 2   cut      13485 non-null  object
 3   color    13485 non-null  object
 4   clarity  13485 non-null  object
 5   depth    13485 non-null  float64
 6   table    13485 non-null  float64
 7   x        13485 non-null  float64
 8   y        13485 non-null  float64
 9   z        13485 non-null  float64
 10  city     13485 non-null  object
dtypes: float64(6), int64(1), object(4)
memory usage: 1.1+ MB

In [384]:
diamond_test_encoded = pd.get_dummies(diamond_test, columns=['city','cut','clarity','color',])
diamond_test_encoded

,id,carat,depth,table,x,y,z,city_Amsterdam,city_Antwerp,city_Dubai,...,clarity_VS2,clarity_VVS1,clarity_VVS2,color_D,color_E,color_F,color_G,color_H,color_I,color_J
0,0,0.79,62.7,60.0,5.82,5.89,3.67,True,False,False,...,False,False,False,False,False,True,False,False,False,False
1,1,1.20,61.0,57.0,6.81,6.89,4.18,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,2,1.57,62.2,61.0,7.38,7.32,4.57,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,3,0.90,63.8,54.0,6.09,6.13,3.90,False,False,False,...,False,False,False,False,False,True,False,False,False,False
4,4,0.50,62.9,58.0,5.05,5.09,3.19,True,False,False,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.57,61.9,56.0,5.35,5.32,3.30,True,False,False,...,False,False,False,False,True,False,False,False,False,False
13481,13481,0.71,62.2,55.0,5.71,5.73,3.56,False,False,False,...,True,False,False,False,False,False,False,False,True,False
13482,13482,0.70,61.6,55.0,5.75,5.71,3.53,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13483,13483,0.70,58.8,57.0,5.85,5.89,3.45,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13484,13484,0.40,62.4,55.0,4.70,4.73,2.94,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [387]:
X_prueba = diamond_test_encoded.drop('id',axis=1)
X_prueba

,carat,depth,table,x,y,z,city_Amsterdam,city_Antwerp,city_Dubai,city_Kimberly,...,clarity_VS2,clarity_VVS1,clarity_VVS2,color_D,color_E,color_F,color_G,color_H,color_I,color_J
0,0.79,62.7,60.0,5.82,5.89,3.67,True,False,False,False,...,False,False,False,False,False,True,False,False,False,False
1,1.20,61.0,57.0,6.81,6.89,4.18,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,1.57,62.2,61.0,7.38,7.32,4.57,False,False,False,True,...,False,False,False,False,False,False,False,True,False,False
3,0.90,63.8,54.0,6.09,6.13,3.90,False,False,False,True,...,False,False,False,False,False,True,False,False,False,False
4,0.50,62.9,58.0,5.05,5.09,3.19,True,False,False,False,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,0.57,61.9,56.0,5.35,5.32,3.30,True,False,False,False,...,False,False,False,False,True,False,False,False,False,False
13481,0.71,62.2,55.0,5.71,5.73,3.56,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
13482,0.70,61.6,55.0,5.75,5.71,3.53,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13483,0.70,58.8,57.0,5.85,5.89,3.45,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13484,0.40,62.4,55.0,4.70,4.73,2.94,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [389]:
y_prueba = model.fit(X_prueba,)

TypeError: LinearRegression.fit() missing 1 required positional argument: 'y'